/* .container {
 height: 100vh;
 width: 100vw;
}

img {
   height: 100%;
   width: 100%;
}
 */
.navfontsize {
   display: -ms-flexbox;
   display: flex;
   -ms-flex-pack: center;
   justify-content: center;
   -ms-flex-align: center;
   align-items: center;
}

.navfontsize {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 90px;
   margin-left: 20px;
   margin-right: 20px;
}

.navfontsize li {
   display: inline-block;
   flex-direction: row;
   justify-content: space-around;
}

#aumentar-fonte {
   font-family: 'Roboto Slab';
   font-size: 18px;
   text-align: center;
   color: white;
   font-weight: 700;
}

#diminuir-fonte {
   font-family: 'Roboto Slab';
   font-size: 18px;
   text-align: center;
   color: white;
   font-weight: 700;
}

.navfontsize button {
   border-radius: 30px;
   width: 40px;
   height: 40px;
   background: linear-gradient(to right, #6EB853, #4c8637);
   cursor: pointer;
}

